.header{
    background-image: url(https://e0.pxfuel.com/wallpapers/243/195/desktop-wallpaper-iphone7-apple-logo-dark-art-illustration-black-macbook-pro.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    
}